/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para la barra de búsqueda */
.search-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#searchInput {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#filterButton {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#filterButton:hover {
    background-color: #0056b3;
}

/* Estilos de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #ddd;
    color: rgb(7, 7, 7);
}

tr:hover {
    background-color: #f1f1f1;
}

/* Estilos de los botones de acción */
.btn {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
}

.view {
    background-color: #28a745;
    color: white;
}

.view:hover {
    background-color: #218838;
}

.edit {
    background-color: #ffc107;
    color: white;
}

.edit:hover {
    background-color: #e0a800;
}

.delete {
    background-color: #dc3545;
    color: white;
}

.delete:hover {
    background-color: #c82333;
}

/* Botón para agregar inventario */
.action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.add {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.add:hover {
    background-color: #0056b3;
}
