<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Inventario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/agregar.css') }}">
</head>
<body>

    <div class="container">
        <h1>Agregar Inventario</h1>

        <form method="POST">
            <div class="form-group"> 
                <label for="vehiculo">Seleccionar o agregar vehículo (Marca Modelo (Año)) </label>
                <input list="vehiculos_list" name="vehiculo" id="vehiculo" required class="form-control">
                <datalist id="vehiculos_list">
                    {% for vehiculo in vehiculos %}
                        <option value="{{ vehiculo.Marca }} {{ vehiculo.Modelo }} ({{ vehiculo.Año }})">
                    {% endfor %}
                </datalist>
            </div>
            

            <div class="form-group">
                <label for="ubicacion">Ubicación</label>
                <input type="text" name="ubicacion" id="ubicacion" required>
            </div>

            <div class="form-group">
                <label for="estado">Estado</label>
                <select name="estado" id="estado" required>
                    <option value="Disponible">Disponible</option>
                    <option value="No Disponible">No Disponible</option>
                </select>
            </div>

            <div class="form-group">
                <button type="submit" class="btn-agregar">Agregar Inventario</button>
            </div>
        </form>

        <div class="back-button-container">
            <button type="button" class="btn-volver" onclick="window.location.href='{{ url_for('main.inventario') }}'">Volver al Inventario</button>
        </div>
    </div>

</body>
</html>
