<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Usuarios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/usuarios.css') }}">
</head>
<body>
    <div class="container">
        <h1>Gestión de Usuarios</h1>

        <!-- Botón para agregar un nuevo usuario -->
        <div class="actions">
            <button class="btn agregar-btn" onclick="window.location.href='{{ url_for('main.agregar_usuario') }}'">Agregar Usuario</button>
        </div>

        <!-- Tabla de usuarios -->
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Rol</th>
                    <th>Fecha de Creación</th>
                    <th>Último Acceso</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.Nombre_usuario }}</td>
                        <td>{{ usuario.Rol }}</td>
                        <td>{{ usuario.Fecha_creacion }}</td>
                        <td>{{ usuario.Ultimo_acceso }}</td>
                        <td>
                            <a href="{{ url_for('main.ver_usuario', id=usuario.ID_Usuario) }}" class="btn editar-btn">Ver</a>
                            <a href="{{ url_for('main.editar_usuario', id=usuario.ID_Usuario) }}" class="btn editar-btn">Editar</a>
                            <form action="{{ url_for('main.eliminar_usuario', id=usuario.ID_Usuario) }}" method="POST" style="display:inline;">
                                <button type="submit" class="btn eliminar-btn" onclick="return confirm('¿Estás seguro de que deseas eliminar este usuario?')">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Botón para volver al panel -->
        <div class="back-button-container">
            <button class="btn-volver" onclick="window.location.href='/panel'">Volver al Panel</button>
        </div>

    </div>
</body>
</html>
