<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ver.css') }}">
    <title>Ver Inventario</title>
</head>
<body>
    <div class="container">
    <h1>Detalles del Inventario</h1>

    <p><strong>Vehículo:</strong> {{ inventario.vehiculo.Marca }} {{ inventario.vehiculo.Modelo }} ({{ inventario.vehiculo.Año }})</p>
    <p><strong>Ubicación:</strong> {{ inventario.Ubicación }}</p>
    <p><strong>Estado:</strong> {{ inventario.Estado }}</p>

    <div class="back-button-container">
        <a href="{{ url_for('main.inventario') }}" class="btn-volver">Volver a la lista de inventarios</a>
    </div>
    
    </div>
</body>
</html>
