<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ver.css') }}">
</head>
<body>
    <div class="container">
        <h1>Detalles del Usuario</h1>

        <p><strong>Nombre de Usuario:</strong> {{ usuario.Nombre_usuario }}</p>
        <p><strong>Rol:</strong> {{ usuario.Rol }}</p>
        <p><strong>Fecha de Creación:</strong> {{ usuario.Fecha_creacion }}</p>
        <p><strong>Último Acceso:</strong> {{ usuario.Ultimo_acceso }}</p>

        <div class="back-button-container">
            <a href="{{ url_for('main.usuarios') }}" class="btn-volver">Volver a la lista de usuarios</a>
        </div>
    </div>
</body>
</html>
